# Configuration file

flying {
    B:chroma=false
    I:color=-1
    S:text=[Flying]
}


"flying (boost)" {
    B:chroma=false
    I:color=-1
    S:text=[Flying (x{AMOUNT} boost)]
}


global {
    B:enabled=true
    B:"fly boost"=false
    D:"fly boost amount"=4.0
    B:"show text"=true
    B:"toggle sneak"=false
    B:"toggle sprint"=true
    I:"x position"=378
    I:"y position"=2
}


riding {
    B:chroma=false
    I:color=-1
    S:text=[Riding]
}


"sneaking toggled" {
    B:chroma=false
    I:color=-1
    S:text=[Sneaking (toggled)]
}


"sprinting toggled" {
    B:chroma=false
    I:color=-1
    S:text=[Sprinting (toggled)]
}


"vanilla sneaking" {
    B:chroma=false
    I:color=-1
    S:text=[Sneaking (vanilla)]
}


"vanilla sprinting" {
    B:chroma=false
    I:color=-1
    S:text=[Sprinting (vanilla)]
}


